body {
    display: flex;
    margin: 0 10%;
    height: 100vh;
    flex-direction: column;
    justify-content: space-around;
}

.content {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.container {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    background-color: #f3f1ff;
    font-family: Helvetica;
    padding: 30px;
    font-size: 28px;
}

.property input {
    margin-left: 10px;
    width: 24px;
    height: 24px;
}

.property {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

button, input[type="button"] {
    background-color: #e0dcff;
    border: none;
    padding: 10px 40px;
    font-size: 24px;
    border-radius: 10px;
    width: 200px;
}

button:hover, input[type="button"]:hover{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #d3cef3;
}

form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    row-gap: 10px;
}

form input[type="checkbox"] {
    justify-self: start;
    align-self: center;
    height: 100%;
    width: 16px;
    margin-left: 0;
}

form input[value="Close"] {
    margin-right: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

dialog {
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #f3f2fd;
    border-radius: 10px;
    font-family: Helvetica;
}

dialog input[type="button"], dialog input[type="submit"] {
    background-color: #e0dcff;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px;
}

dialog input[type="text"], dialog input[type="number"], dialog input[type="checkbox"] {
    border: 2px solid #e0dcff;
}

dialog input[type="checkbox"] {
    outline: 2px solid #e0dcff;
}